body {
    font-family: Arial, sans-serif;
    text-align: center;
     background-image: url("https://previews.123rf.com/images/julialemba/julialemba1805/julialemba180500043/102593857-seamless-vector-pattern-of-meteorology-thermometers-on-white-background-measuring-hot-and-cold.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: pink;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align:center;
    color:red;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color:purple;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  